{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%}
        MedJobHub Contact Us
    {% endblock %}
    {% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_us.css') }}">
    {% endblock %}
</head>


<body>
    {% block content %}
    <!-- Contact Us Section -->
    <section class="contact-us">
        <div class="contact-container">
            <!-- Right Half: Image -->
            <!-- Left Half: Contact Form -->
            <div class="contact-form">
                <h1><center>Contact Us</center></h1>
                <p class="subtitle"><center>Any questions or remarks, just write us a message!</center></p> <!-- Added subtitle -->
                <form id="contactForm" action="javascript:void(0);" onsubmit="submitForm()">
                    <label for="name">Name*</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" required>

                    <label for="phone">Phone Number*</label>
                    <input type="tel" id="phone" name="phone" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="5"></textarea>

                    <button type="submit" class="submit-button">Submit</button>
                </form>
            </div>
            <div class="contact-image">
              <img src="{{ url_for('static', filename='images/contactus_image2.jpg') }}" alt="Image">
          </div>
        </div>
    </section>

    <script>
        function submitForm() {
            alert('Thank you for contacting us! We will get back to you soon.');
            document.getElementById("contactForm").reset(); // Reset form after submission
        }
        
    </script>
    {% endblock %}

    
</body>
</html>